input.ng-invalid,
select.ng-inalid {
  border: 1px solid red;
}

.exercise-div {
  border-bottom: 2px solid #aaa;
}

.exercise-div:last-child {
  border-bottom-width: 0 !important;
}

.form-check-input{
  margin-top: 0 !important;
}