<div *ngFor="let we of workout.Exercises; let weX = index" [class.active]="we.Active" [class.d-none]="we.Completed" class="exercise-wrap">
  <div class="row no-gutters" *ngIf="activeExercise">
    <div class="exercise-div col-12">
      <div class="pb-3 large">
        <strong>{{ we.ExerciseType }} {{ we.ExerciseName}}</strong>
      </div>
      <app-active-exercise *ngIf="we.Active" [we]="we" [activeExercise]="activeExercise"></app-active-exercise>
      <app-exercise-detail [we]="we" [activeExercise]="activeExercise"></app-exercise-detail>
    </div>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-12">
    <div class="add-div" (click)="addExercise()">
      <fa-icon [icon]="faPlus"></fa-icon>
    </div>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-6 bg-dark text-white clock">
    <fa-icon [icon]="faClock"></fa-icon> {{ clock | secondstimer: '12':'7' }}
  </div>
  <div class="col-6">
    <div class="finish-flag text-center" (click)="finish()"></div>
  </div>
</div>