<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/exercises']">Exercises</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <span *ngIf="exercise.ExerciseID > 0">Edit</span><span *ngIf="exercise.ExerciseID === 0">Create</span>
    </li>
  </ol>
</nav>
<div *ngIf="!loaded || saving">
  <app-loader></app-loader>
</div>
<div *ngIf="loaded">
  <div class="p-3">
    <h2> Exercise </h2>
  </div>
  <form (submit)="save()" #exerciseForm="ngForm">
    <div>
      <button class="btn btn-success w-100" type="submit">Save</button>
    </div>
    <div class="form-group d-none">
      <label for="ExerciseID">ID</label>
      <input type="text" [(ngModel)]="exercise.ExerciseID" class="form-control" name="id" #id="ngModel" required />
    </div>
    <div class="form-group col-12">
      <label for="Name">Name</label>
      <input type="text" [(ngModel)]="exercise.Name" class="form-control" name="name" #name="ngModel" required [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched || exerciseForm.submitted)}" />
    </div>
    <div class="form-group col-12">
      <label for="ExerciseTypeID">Exercise Type</label>
      <select [(ngModel)]="exercise.ExerciseType" class="form-control" name="etype" #etype="ngModel" required [ngClass]="{'is-invalid': etype.invalid && (etype.dirty || etype.touched || exerciseForm.submitted)}">
        <option *ngFor="let eType of exerciseTypes" [ngValue]="eType">{{ eType.Name }}</option>
      </select>
    </div>
    <div class="form-group col-12 col-lg-6">
      <label for="mtypes">Muscle Types</label>
      <div class="text-danger" *ngIf="noprime && exerciseForm.submitted">
        At least one muscle must be checked and marked as primary
      </div>
      <div class="btn-group w-100 mb-1" *ngFor="let mtype of exercise.MuscleTypes">
        <button class="btn w-50 text-left" type="button" (click)="toggleWorked(mtype)" [ngClass]="{'btn-med': !mtype.IsWorked, 'btn-workout': mtype.IsWorked}">
          <fa-icon [icon]="faCheckSquare" *ngIf="mtype.IsWorked"></fa-icon>
          <fa-icon [icon]="faSquare" *ngIf="!mtype.IsWorked"></fa-icon>
          &nbsp;{{mtype.Name}}
        </button>
        <button class="btn w-50 text-center" type="button" (click)="togglePrimary(mtype)" [ngClass]="{'btn-med': !mtype.IsPrimary, 'btn-workout': mtype.IsPrimary}">
          <fa-icon [icon]="faCheckSquare" *ngIf="mtype.IsPrimary"></fa-icon>
          <fa-icon [icon]="faSquare" *ngIf="!mtype.IsPrimary"></fa-icon>
          &nbsp;Primary
        </button>
      </div>
    </div>
    <div class="form-group col-12 col-lg-6">
      <label for="mtypes">Equipment</label>
      <div class="btn-group w-100 mb-1" *ngFor="let eq of exercise.Equipment">
        <button class="btn w-50 text-left" type="button" (click)="toggleUsed(eq)" [ngClass]="{'btn-med': !eq.IsUsed, 'btn-workout': eq.IsUsed}">
          <fa-icon [icon]="faCheckSquare" *ngIf="eq.IsUsed"></fa-icon>
          <fa-icon [icon]="faSquare" *ngIf="!eq.IsUsed"></fa-icon>
          &nbsp;{{eq.Name}}
        </button>
        <button class="btn w-50 text-center" type="button" (click)="toggleRequired(eq)" [ngClass]="{'btn-med': eq.IsOptional, 'btn-workout': !eq.IsOptional}">
          <fa-icon [icon]="faCheckSquare" *ngIf="!eq.IsOptional"></fa-icon>
          <fa-icon [icon]="faSquare" *ngIf="eq.IsOptional"></fa-icon>
          &nbsp;Required
        </button>
      </div>
    </div>
  </form>
</div>