<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/exercises']">Exercises</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <span *ngIf="exercise.ExerciseID > 0">Edit</span><span *ngIf="exercise.ExerciseID === 0">Create</span>
    </li>
  </ol>
</nav>
<div *ngIf="!loaded || saving">
  <app-loader></app-loader>
</div>
<div *ngIf="loaded">
  <form [formGroup]="exerciseForm" (ngSubmit)="onSubmit()">
    <div class="p-3">
      <h2>
        Exercise
        <button class="btn btn-primary float-right">Save</button>
      </h2>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    <div class="p-2">
      <div class="form-group d-none">
        <label for="ExerciseID">ID</label>
        <input type="text" formControlName="ExerciseID" class="form-control" />
      </div>
      <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" formControlName="Name" class="form-control" />
      </div>
      <div class="form-row no-gutters">
        <div class="form-group col-12">
          <label for="ExerciseTypeID">Exercise Type</label>
          <select formControlName="ExerciseTypeID" class="form-control">
            <option *ngFor="let eType of exerciseTypes" [ngValue]="eType.ExerciseTypeID">{{ eType.Name }}</option>
          </select>
        </div>
        <div class="form-group col-12 col-md-6">
          <label for="MuscleTypes">Muscle Types</label>
          <div formArrayName="MuscleTypes">
            <div *ngFor="
                let muscleType of exerciseForm.get('MuscleTypes').controls;
                let mtX = index
              ">
              <div [formGroupName]="mtX">
                <div class="form-row justify-content-center" [ngClass]="{'bg-med': mtX % 2 === 0}">
                  <div class="form-group d-none">
                    <label for="ExerciseMuscleTypeID">ID</label>
                    <input type="text" formControlName="ExerciseMuscleTypeID" class="form-control" />
                  </div>
                  <div class="form-group col-12 col-md-6 d-none">
                    <label for="ExerciseID">Exercise ID</label>
                    <input type="text" formControlName="ExerciseID" class="form-control" />
                  </div>
                  <div class="form-group col-7">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" formControlName="IsWorked" id="mt-cb-{{ mtX }}" />
                      <label class="form-check-label" for="mt-cb-{{ mtX }}">{{ muscleType.value.MuscleTypeName }}</label>
                    </div>
                  </div>
                  <div class="form-group col-1">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" formControlName="IsPrimary" id="mt-cb-p-{{ mtX }}" />
                      <label class="form-check-label" for="mt-cb-p-{{ mtX }}">Primary</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-12 col-md-6">
          <label for="Equipment">Equipment</label>
          <div formArrayName="Equipment">
            <div *ngFor="
                let equip of exerciseForm.get('Equipment').controls;
                let eX = index
              ">
              <div [formGroupName]="eX">
                <div class="form-row justify-content-center" [ngClass]="{'bg-med': eX % 2 === 0}">
                  <div class="form-group d-none">
                    <label for="ExerciseEquipmentID">ID</label>
                    <input type="text" formControlName="ExerciseEquipmentID" class="form-control" />
                  </div>
                  <div class="form-group col-12 col-md-6 d-none">
                    <label for="ExerciseID">Exercise ID</label>
                    <input type="text" formControlName="ExerciseID" class="form-control" />
                  </div>
                  <div class="form-group col-7">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" formControlName="IsUsed" id="ee-cb-{{ eX }}" />
                      <label class="form-check-label" for="ee-cb-{{ eX }}">{{ equip.value.EquipmentName }}</label>
                    </div>
                  </div>
                  <div class="form-group col-1">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" formControlName="IsOptional" id="ee-cb-p-{{ eX }}" />
                      <label class="form-check-label" for="ee-cb-p-{{ eX }}">Optional</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>