.resting-div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 2000;
  background-color: red;
  opacity: 0.9;
  color: #fff;
}

.resting-content span {
  display: block;
  &.big {
    font-size: 100px;
  }
}
