<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
    <li class="breadcrumb-item"> <a [routerLink]="['/routines']">Routines</a> </li>
    <li class="breadcrumb-item active" aria-current="page">View</li>
  </ol>
</nav>
<div *ngIf="!loaded">
  <app-loader></app-loader>
</div>
<div *ngIf="loaded" class="large">
  <div class="row">
    <div class="col-12 p-3">
      <h2>
        {{ routine.Name }}
        <fa-icon [icon]="faCertificate" *ngIf="routine.IsFitTest"></fa-icon>
        <app-edit-buttons *ngIf="editing" (clone)="clone($event)" (delete)="delete($event)" (edit)="neweditRoutine($event)" [obj]="routine" type="Routines"></app-edit-buttons>
      </h2>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-12 p-0">
      <div class="btn-group w-100" *ngIf="!editing">
        <button class="btn btn-primary text-white" (click)="editing = true"> Edit Routine </button>
        <button class="btn btn-success text-white" [routerLink]="['/workout',-1, routine.RoutineID]"> Workout </button>
      </div>
      <div class="btn-group w-100" *ngIf="editing">
        <button class="btn btn-success text-white" (click)="doneEdit()"> Done Editing </button>
      </div>
    </div>
  </div>
  <div class="row no-gutters" *ngIf="!editing">
    <div class="col-12 p-2 bg-warning" *ngIf="routine.NeededEquipment || routine.OptionalEquipment">
      <h4>Equipment</h4>
    </div>
    <div class="col-6 bg-light p-2" *ngIf="routine.NeededEquipment"> <b>Required</b>
      <div class="pl-3">{{ routine.NeededEquipment }}</div>
    </div>
    <div class="col-6 bg-light p-2" *ngIf="routine.OptionalEquipment"> <b>Optional</b>
      <div class="pl-3">{{ routine.OptionalEquipment }}</div>
    </div>
    <div class="col-12 p-2 bg-warning" *ngIf="routine.PrimaryMuscleGroups || routine.SecondaryMuscleGroups">
      <h4>Muscle Groups</h4>
    </div>
    <div class="col-12 bg-light" *ngIf="routine.PrimaryMuscleGroups || routine.SecondaryMuscleGroups">
      <tabset [justified]="true">
        <tab heading="Primary" id="tab1" *ngIf="routine.PrimaryMuscleGroups">
          <app-workout-muscles [data]="routine.PrimaryMuscleGroups"></app-workout-muscles>
        </tab>
        <tab heading="Secondary" id="tab3" *ngIf="routine.SecondaryMuscleGroups">
          <app-workout-muscles [data]="routine.SecondaryMuscleGroups"></app-workout-muscles>
        </tab>
      </tabset>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-12 p-2 bg-warning">
      <h4>Routine</h4>
    </div>
    <div class="col-12">
      <ul class="list-unstyled mb-0">
        <li *ngFor="let block of routine.Blocks" class="bg-routine text-white mb-1">
          <div class="d-block p-2">
            <app-edit-buttons *ngIf="editing" btn="btn-routine" color="text-white" (clone)="clone($event)" (delete)="delete($event)" (edit)="neweditBlock($event)" [obj]="block" type="RoutineBlocks"></app-edit-buttons>
            Block {{ block.BlockOrder }} -<span *ngIf="block.AutoRun === 1">&nbsp;<fa-icon [icon]="faStopWatch"></fa-icon></span>&nbsp;{{ block.BlockType?.Name }}
            <span *ngIf="block.ProgressDiff > 0" class="font-italic">&nbsp;{{ block.ProgressType }} {{ block.ProgressDiff }}%</span>
          </div>
          <ul class="list-unstyled mb-0 ml-4">
            <li *ngFor="let set of block.Sets" class="bg-primary text-white mb-1">
              <div class="d-block p-2">
                <app-edit-buttons *ngIf="editing" btn="btn-primary" color="text-white" (clone)="clone($event)" (delete)="delete($event)" (edit)="neweditSet($event)" [obj]="set" type="RoutineBlockSet"></app-edit-buttons>
                Set {{ set.SetNumber }}
              </div>
              <ul class="list-unstyled mb-0 ml-4 text-body">
                <li class="order-bottom" *ngFor="let exercise of set.Exercises; let even = even" [ngClass]="{'bg-med': even, 'bg-light': !even}">
                  <div class="row no-gutters p-3">
                    <div class="col-12 col-md-6 font-weight-bold">
                      <div class="d-block">
                        <app-edit-buttons *ngIf="editing" btn="btn-transparent" (clone)="clone($event)" (delete)="delete($event)" (edit)="neweditExercise($event)" [obj]="exercise" type="RoutineBlockSetExercises"></app-edit-buttons>
                        {{ exercise.Exercise?.ExerciseType?.Name }} {{ exercise.Exercise?.Name }}
                        <span *ngIf="exercise.SideType?.SideTypeID !== 1 && exercise.SideType?.SideTypeID !== 4">({{ exercise.SideType?.Name }})</span>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <span *ngIf="exercise.RepType?.Name !== 'AMRAP'">{{ exercise.Timer > 0 ? exercise.Timer : exercise.Reps }} </span>{{ exercise.RepType?.Name }}
                      <span *ngIf="exercise.RepType?.Name !== 'Seconds'">- {{ exercise.WeightType?.Name }}</span>
                      <span *ngIf="exercise.Timer >= 1" class="ml-2">
                        <fa-icon [icon]="faStopWatch"></fa-icon>&nbsp;{{exercise.Timer}}
                      </span>
                      <span *ngIf="exercise.PostRest >= 1" class="text-danger ml-2">
                        <fa-icon [icon]="faHeartbeat"></fa-icon>&nbsp;{{ exercise.PostRest }}
                      </span>
                    </div>
                  </div>
                </li>
                <button class="btn btn-warning w-100" *ngIf="editing" (click)="neweditExercise(null, set)">
                  <fa-icon [icon]="faPlus"></fa-icon>&nbsp;Exercise
                </button>
              </ul>
            </li>
            <button class="btn btn-primary w-100" *ngIf="editing" (click)="neweditSet(null, block)">
              <fa-icon [icon]="faPlus"></fa-icon>&nbsp;Set
            </button>
          </ul>
        </li>
        <button class="btn btn-routine w-100" *ngIf="editing" (click)="neweditBlock(null)">
          <fa-icon [icon]="faPlus"></fa-icon>&nbsp;Block
        </button>
      </ul>
    </div>
  </div>
</div>