<div class="form-row" *ngIf="we.RepType !== 'Seconds'">
  <div class="form-group col-12 col-md-6" [ngClass]="{'col-md-12': (we.ExerciseType === 'Dumbbell' || we.ExerciseType === 'Bands' || we.ExerciseType === 'Body Weight')}">
    <app-adjuster name="Reps" [(obj)]="activeExercise" [step]="1" big="true" bigfont="true"></app-adjuster>
  </div>
  <div class="form-group col-12 col-md-6" [ngClass]="{'d-none': we.ExerciseType === 'Dumbbell' || we.ExerciseType === 'Bands' || we.ExerciseType === 'Body Weight'}">
    <app-adjuster name="Weight" [(obj)]="activeExercise" [step]="5" big="true" bigfont="true" [fixed]="we.FixedWeight >= 0"></app-adjuster>
  </div>
</div>
<div class="form-row" *ngIf="we.ExerciseType === 'Dumbbell'">
  <div class="form-group col-12">
    <app-dumbbell-selector [(obj)]="activeExercise"></app-dumbbell-selector>
  </div>
</div>
<div class="form-row" *ngIf="we.ExerciseType === 'Bands'">
  <div class="form-group col-12">
    <app-band-selector [(obj)]="activeExercise"></app-band-selector>
  </div>
</div>
<div class="form-row" *ngIf="we.RepType !== 'Seconds'">
  <div class="form-group col-12">
    <label>Form</label>
    <app-star-rating [exercise]="activeExercise" [togglable]="true" size="xl"></app-star-rating>
  </div>
</div>