<div *ngIf="!loaded">
  <app-loader></app-loader>
</div>
<div *ngIf="loaded">
  <div class="row">
    <div class="col-12 text-center bg-primary text-white p-2">
      <h3>{{ workout.RoutineName }}</h3>
    </div>
  </div>
  <div *ngIf="!exercising && !resting && !done">
    <div class="row no-gutters mt-5">
      <div class="col-12">
        <button class="btn btn-success text-white w-100 btn-xl" (click)="startWorkout()" type="button"> Start Workout </button>
      </div>
    </div>
    <app-workout-preview [workout]="workout"></app-workout-preview>
  </div>
  <div *ngIf="exercising">
    <div *ngFor="let we of workout.Exercises; let weX = index" [class.active]="we.Active" [class.d-none]="we.Completed" class="exercise-wrap">
      <div class="row" *ngIf=" workout.Exercises[weX - 1]?.BlockOrder !== we.BlockOrder || we.Active ">
        <div class="col-12 bg-dark text-white"> Block {{ we.BlockOrder }} - {{ we.BlockTypeName }}</div>
      </div>
      <div class="row" *ngIf=" (workout.Exercises[weX - 1]?.SetNumber !== we.SetNumber && workout.Exercises[weX - 1]?.BlockOrder === we.BlockOrder) || (workout.Exercises[weX - 1]?.BlockOrder !== we.BlockOrder && we.SetNumber === 1) || we.Active ">
        <div class="col-12 bg-info text-white">Set {{ we.SetNumber }}</div>
      </div>
      <div class="row">
        <div class="exercise-div col-12" [@openClose]="we.toggle ? 'open' : 'closed'">
          <div class="pb-3">
            <div class="large">
              <strong>{{ we.ExerciseType }} {{ we.ExerciseName}}<span *ngIf="we.SideType !== 'Both'"> - {{ we.SideType }}</span></strong>
            </div>
            <div class="font-italic" *ngIf="we.RepType !== 'Seconds'">
              {{ we.WeightType }}<span *ngIf="we.RepType !== 'AMRAP'"> - {{ we.Reps }}</span>&nbsp;{{ we.RepType }}
            </div>
          </div>
          <app-active-exercise *ngIf="we.Active" [we]="we" [activeExercise]="activeExercise"></app-active-exercise>
          <app-timer *ngIf="we.Timer > 0 && we.Active" [we]="we" (next)="next($event)" [audioCtx]="audioCtx" (toggle)="toggleTimer($event)"></app-timer>
          <app-exercise-detail [we]="we" [activeExercise]="activeExercise"></app-exercise-detail>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark workout-nav" *ngIf="we.Active">
        <form class="form-inline w-100 nav-form">
          <button class="btn btn-link btn-xl text-white clock" type="button">
            <fa-icon [icon]="faClock"></fa-icon> {{ clock | secondstimer: '12':'7' }}
          </button>
          <button class="btn btn-success btn-xl" type="button" (click)="next()" [disabled]="resting || timerrunning">
            <fa-icon [icon]="faChevronCircleRight"></fa-icon>
          </button>
        </form>
      </nav>
      <div class="row" *ngIf="we.PostRest > 0">
        <div class="bg-danger col-12 text-white text-center">
          <fa-icon [icon]="faHeartbeat"></fa-icon>&nbsp;{{ we.PostRest | secondstimer: '15':'4' }}
        </div>
      </div>
    </div>
    <div class="finish-flag text-center"></div>
    <app-rest *ngIf="resting" [blocksummary]="blockSummary" [postrest]="restTimer" (next)="next($event)"></app-rest>
  </div>
</div>