
 label{
  font-weight: bold !important;
}


.input-group-tgl {
  .btn, input {
    font-size: 1.5rem !important;
    font-weight: bold;
  }
  input {
    font-size: 2rem !important;
  }
}

.bigfont {
  input{
    font-size: 2.5rem !important;
    height: auto !important;
    padding: 0;
  }
}
