
 label{
  font-weight: bold !important;
}


.input-group-tgl {
  .btn, input {
    font-size: 1.5rem !important;
    font-weight: bold;
    height: 50px;
  }
  input {
    font-size: 2rem !important;
  }
}

.bigfont {
  input{
    font-size: 3rem !important;
  }
}
