<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Routines</li>
  </ol>
</nav>
<div *ngIf="!loaded">
  <app-loader></app-loader>
</div>
<div *ngIf="loaded">
  <div class="row no-gutters p-2">
    <div class="col-12">
      <h2> Routines </h2>
    </div>
  </div>
  <div class="row mb-2 no-gutters p-2">
    <div class="col-12 col-lg-6 mb-2 mb-lg-0">
      <div class="bg-primary text-white">
        <button class="btn btn-primary text-white w-100" (click)="newRoutine()" type="button"> Create New Routine </button>
      </div>
    </div>
    <div class="col-12 col-lg-6 mb-2 mb-lg-0" *ngFor="let routine of routines">
      <div class="bg-workout text-white p-3">
        <a [routerLink]="['/routine/view', -1, routine.RoutineID]" class="text-white d-block"> {{ routine.Name }} </a>
      </div>
    </div>
  </div>
</div>