<div class="modal-header bg-workout text-white">
  <h4 class="modal-title pull-left">Edit Workout</h4>
  <button type="button" class="close pull-right text-white" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-row">
    <div class="form-group col-12">
      <label for="StartTime">Start Time</label>
      <input type="datetime-local" name="StartTime" [(ngModel)]="workout.StartTime" class="form-control" (change)="updateDuration()" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <label for="EndTime">End Time</label>
      <input type="datetime-local" name="EndTime" [(ngModel)]="workout.EndTime" class="form-control" (change)="updateDuration()" />
    </div>
  </div>
  <div class="form-row" *ngFor="let exercise of workout.Exercises">
    <div class="form-group col-12">
      <label for="EndTime">{{exercise.Name}}</label>
    </div>
    <div class="form-group col-6">
      <app-adjuster name="Reps" [(obj)]="exercise" [step]="1"></app-adjuster>
    </div>
    <div class="form-group col-6">
      <app-adjuster name="Weight" [(obj)]="exercise" [step]="5"></app-adjuster>
    </div>
    <div class="form-group col-12">
      <button class="btn-xl" [ngClass]="exercise.Rating === 1 ? 'btn w-100 btn-danger' : exercise.Rating === 2 ? 'btn w-100 btn-warning' : 'btn w-100 btn-success'" type="button" (click)="toggleRating(exercise)">
        <fa-icon [icon]="exercise.Rating === 1 ? faStarHalf : exercise.Rating === 2 ? faStar : faStarFull" class="text-white"></fa-icon>
      </button>
    </div>
  </div>
</div>
<div class="modal-footer text-right">
  <button class="btn btn-secondary w-50" type="button" (click)="cancel()">Cancel</button>
  <button class="btn btn-primary w-50" type="button" (click)="save()">Save</button>
</div>