<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Exercises</li>
  </ol>
</nav>
<div *ngIf="!loaded">
  <app-loader></app-loader>
</div>
<div *ngIf="loaded">
  <div class="row">
    <div class="col-12 p-2">
      <h2>
        Exercises
        <button class="btn btn-primary text-white float-right" [routerLink]="['/exercise/create']" type="button">
          Create New Exercise
        </button>
      </h2>
    </div>
    <div class="col-12">
      <input class="form-control form-control-sm float-right" [(ngModel)]="searchText" placeholder="Search">
    </div>
  </div>
  <div class="row no-gutters button-spacer">
    <div class="col-12 col-sm-6 col-md-3 mb-4" *ngFor="let group of groups">
      <div class="p-2">
        <h3 (click)="group.collapsed = !group.collapsed"><span *ngIf="!group.collapsed">+</span><span *ngIf="group.collapsed">-</span>{{group.Name}}</h3>
        <div [collapse]="!group.collapsed">
          <div class="bg-workout text-white m-4 p-4" *ngFor="let exercise of group.Exercises | filterExercise:searchText" [routerLink]="['/exercise/edit', exercise.ExerciseID]">
            <table class="table table-sm text-white no-borders">
              <tbody>
                <tr>
                  <td colspan="2" class="big">{{exercise.Name}} - {{exercise.ExerciseTypeName}}</td>
                </tr>
                <tr>
                  <td>
                    <div *ngFor="let mt of exercise.MuscleTypes" [ngClass]="{'text-underline': mt.IsPrimary === 1}">{{ mt.MuscleGroupName }} - {{ mt.MuscleName }}</div>
                  </td>
                  <td>
                    <div *ngFor="let e of exercise.Equipment" [ngClass]="{'text-underline': e.IsOptional === 0}">{{ e.Name }}</div>
                  </td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>