.no-borders td{
  border: none;
  width: 50%;
  padding-left: 1rem;
}

.big{
  font-weight: bold;
  font-size: 1.1rem;
  padding-left: 0 !important;
}

.text-underline{
  text-decoration: underline;
  font-weight: bold;;
}
